// .login-background {
//   background-image: url(/assets/img/brand/dbuzz2.png?);
//   background-repeat: no-repeat;
//   background-position: left -5px;
//   background-size: auto;
  

// }
// .auth{
//     padding-left: 100px !important;
// }
.mr-3{
    font-size: 19px;
}

.btn-info {
  width: 300px !important;
  border-radius: 65px !important;
  padding-bottom: 9px !important;
  padding-top: 9px !important;
}

.btn-outline-primary {
  width: 300px !important;
  border-radius: 65px !important;
  padding-bottom: 9px !important;
  padding-top: 9px !important;
}
