.tabset a.nav-link.active {
  color: #E61C34;
  font-weight: bold;
  border-bottom-width: 2px;
  border-bottom-color:  #E61C34;
}


.cover-photo {
  img {
    width: 700px !important;
    height: 236px !important;
    overflow:hidden;
    z-index:1;
    max-width: 100%;
  }
}

.card-profile-stats {

    img{
        position: absolute;
        margin-top: -70px !important;
        border: 5px solid #fdfcfc;
    
    }   
    .icon-wallet{
      height: 50px !important;
      position: relative !important;
      margin-top: -3px !important;
      border: none;

    }
   
}




.btn-outline-danger {
  border-radius: 25px !important;
  text-decoration: none;
  text-transform: none;
}

.btn-following {
  background-color: #E61C34;
  border-radius: 25px !important;
  text-decoration: none;
  text-transform: none;
  &:hover span {
    display:none
  }
  &:hover::after {
    content: 'Unfollow';
  }
}

.profile-name {
  font-weight: 700;
  font-size: 19px;
  color: #14171a
}

.sticky-top {
  position: sticky !important;
}

.mobile-bottom {
  margin-bottom: 10rem !important;
}

.col-md-6{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.element-arrange {
  padding-left: 35%;
}

/* LAPTOP Large  PORTRAIT Resolution*/
@media only screen 
  and (max-width: 736px) 
  and (max-height: 1098px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    #account-settings {
      padding-left: 23% !important;
      #wallet-info {
        visibility: visible !important;
      }
    }
}

/* LAPTOP Large Resolution*/
@media only screen 
  and (max-width: 1024px) 
  and (max-height: 1333px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #account-settings {
      padding-left: 23% !important;
    }
}

/* Mobile L Resolution*/
@media only screen 
  and (max-width: 425px) 
  and (max-height: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #account-settings {
      top: -35px;
      padding-left: 44% !important;
    }
}

/* Tablet Resolution*/
@media only screen 
  and (max-width: 768px) 
  and (max-height: 1333px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #account-settings {
      top: -3px;
      padding-left: 50% !important;
    }
}

/* Portrait of the IPAD PRO*/
@media (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #account-settings {
      padding-left: 23% !important;
    }
}

/* Landscape of the IPAD PRO*/
@media (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #account-settings {
      padding-left: 23% !important;
    }
}

/*Specific for MOTO G4 and Galaxy S5 Portrait*/
@media only screen 
  and (max-width: 360px) 
  and (max-height: 640px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 3) {
    #account-settings {
      top: 0;
      padding-left: 57% !important;
    }
}

/*Specific for MOTO G4 and Galaxy S5 Landscape*/
@media only screen 
  and (max-width: 640px) 
  and (max-height: 360px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3) {
    #account-settings {
      top: 0;
      padding-left: 70% !important;
    }
}


/*Specific for IPHONE X Portrait*/
@media only screen 
  and (max-width: 375px) 
  and (max-height: 812px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 3) {
    #account-settings {
      top: 0;
      padding-left: 57% !important;
    }
}

/*Specific for IPHONE X Landscape*/
@media only screen 
  and (max-width: 812px) 
  and (max-height: 375px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3) {
    #account-settings {
      top: 0;
      padding-left: 44% !important;
    }
}

/*Specific for IPHONE 6,7,8 PLUS Portrait*/
@media only screen 
  and (max-width: 414px) 
  and (max-height: 736px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 3) {
    #account-settings {
      top: 0;
      padding-left: 62% !important;
    }
}

/*Specific for IPHONE 6,7,8 PLUS Landscape*/
@media only screen 
  and (max-width: 736px) 
  and (max-height: 414px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3) {
    #account-settings {
      top: 0;
      padding-left: 70% !important;
    }
}

/* Portrait iPhone 5, 5S, 5C and 5SE */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #account-settings {
      top: 0;
      padding-left: 52% !important;
    }
}

/* Landscape iPhone 5, 5S, 5C and 5SE */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #account-settings {
      top: 0;
      padding-left: 70% !important;
    }
}

/* Portrait iPhone 6, 6S, 7 and 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #account-settings {
      top: 0;
      padding-left: 58% !important;
    }
}

/* Landscape iPhone 6, 6S, 7 and 8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    #account-settings {
      top: 0;
      padding-left: 70% !important;
    }
}

@media only screen 
  and (min-device-width: 823px)
  and (max-device-width: 823px) 
  and (orientation: landscape) { 
    #account-settings {
      top: 0;
      transform: scale(0.8);
      padding-left: 50% !important;
    }
}

@media only screen 
  and (min-device-width: 731px) 
  and (max-device-width: 731px)
  and (orientation: landscape) { 
    #account-settings {
      top: 0;
      padding-left: 70% !important;
    }  
}