
.btn-round {
  border-radius: 25px !important;
  text-decoration: none;
  text-transform: none;
  padding: 7px 20px 7px 20px;
  margin: 5px;
}

.about {
  font-size: 14px;
}

.url a {
  color: #14171a !important;
  cursor: pointer;
  word-break: break-all !important;
  &:hover {
      cursor: pointer;
      text-decoration: underline;
  }   
}