<nav class="navbar bg-white sticky-top card">
  <div class="card-body bg-transparent">
    <div class="row align-items-right d-none d-sm-block">
      <h6 class="text-uppercase text-center font-weight-bold ls-1 mt-3 mb-0">
        Friends
      </h6>

    </div>
  </div>
</nav>
<!--Fixed Top Navbar for mobile-->

<nav class="navbar fixed-top navbar-light bg-white border-bottom d-block d-sm-none">
  <div class="text-uppercase text-center font-weight-bold ls-1 mt-3 mb-0">
    <div class="ml-3">    
      <span class="profile-name ls-1 mb-0">Friends</span>
    </div>
  </div>
</nav>
<app-mobile-menu></app-mobile-menu>